<button class="btn btn-success" style="margin-top: 30px;margin-bottom: 20px;" (click)="createCustomer()">New
  Customer</button>
<div class="row">
  <div class="col-md-8">
    <div class="card" style="margin-bottom: 10px;" *ngFor="let customer of customers$ | async,let i = index">
      <button class="btn" id="{{i}}" [ngClass]="{'btn-info': customer?.id === activeCustomer?.id}"
        (click)="setActiveCustomer(customer)">{{customer.name}}
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <app-customer-detail [customer]="activeCustomer" (deleteUser)="deleteCustomer($event)"></app-customer-detail>
  </div>
</div>
